<!DOCTYPE html>
<html>
    <head>
        <title>My Failed Search Engine Is Wrong As I Expected</title>
        <style>
            table{
                width: 100%;
            }
            th,td,tr{
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h1 style="text-align: center;">My Simple Search Engine</h1>
        <p>Upload file : </p>
        <form action = '#' method = 'POST' enctype= "multipart/form-data">
            <input type = "file" name = "file" multiple/>
            <input type = "submit">
        </form>
        <br>
        <tr>
            <td> Daftar dokumen : </td>
            {% for i in namaFile %}
            <td> {{i}} </td>
            {% endfor %}
        </tr>
        <form method = "post">
            <input type="text" class="input" placeholder="Search query" name="Query">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <hr>
        <p>Hasil Pencarian (diurutkan dari tingkat kemiripan tertinggi) :</p>
        {% if show == 1 %}
        <ol>
            {% for i in range (length) %}
            <li>
                <a href="{{url_for('static', filename= '../../test/' + sortedNamaFile[i])}}">{{sortedNamaFile[i]}}</a>
                <p>Jumlah kata: {{sumFile[i]}}</p>
                <p>Tingkat kemiripan: {{sim[i] * 100}}%</p>
                <p>Kalimat pertama dari dokumen: {{kalimatPertamaFile[i]}}</p>
            </li>
            {% endfor %}
        </ol>
        <table>
            <td> Term </td>
            <td> Query </td>
            {% for i in sortedNamaFile %}
            <td> {{i}} </td>
            {% endfor %}
            {% for i in printTable %}
            <tr>
            {% for x in i %}
                <td> {{x}} </td>
            {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <hr>
    </body>
    <footer>
        <a href="{{url_for('perihal')}}">Perihal</a>
    </footer>
</html>