<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Perihal</title>
        <style>
            .mainHeader{
                text-align: center;
                font-size: 40%;
                background-color: rgb(24, 24, 24);
                background-size: 300%;
                color: white;
            }
            .closing-Statement{
                text-align: center;
                text-shadow: 5% #33ccff;
            }
            html{
                box-sizing: border-box;
            }
            header{
                display: block;
            }
        </style>
    </head>
    <body>
        <div class="mainHeader">
            <h1>Search Engine Concept</h1>
        </div>
        <div class="paragraph">
            <p>Temu-balik informasi (information retrieval) merupakan proses menemukan kembali  (retrieval)  informasi  yang  relevan  terhadap  kebutuhan  pengguna  dari  suatu kumpulan  informasi  secara  otomatis.  Biasanya,  sistem  temu  balik  informasi  ini digunakan untuk mencari informasi pada informasi yang tidak terstruktur, seperti laman web atau dokumen.
                Ide  utama  dari  sistem  temu  balik  informasi  adalah  mengubah search  query menjadi ruang vektor Setiap dokumen maupun query dinyatakan sebagai vektor w = (w1, w2,..., wn) di dalam Rn, dimana nilai wi dapat menyatakan jumlah kemunculan kata tersebut dalam dokumen (term  frequency). Penentuan dokumen mana yang relevan dengan search query dipandang sebagai pengukuran kesamaan (similarity measure)  antara query dengan dokumen. Semakin sama suatu vektor dokumen dengan vektor query, semakin relevan dokumen tersebut dengan query. Kesamaan tersebut dapat diukur dengan cosine similarity.
                Pada search engine yang kami buat, kami terlebih dahulu melakukan stemming dan menghilangkan stopwords dari dokumen dan query untuk menemukan termnya. Dari term yang ditemukan, akan dibuat kamus data dan vektor dari query dan dokumen berdasarkan banyak kemunculan term. Setelah itu, akan ditemukan nilai similarity dari setiap dokumen dengan query dengan menggunakan rumus cosine similarity. Hasil pencarian dari mesin pencarian ini diurutkan berdasarkan nilai similarity yang telah ditemukan.
            </p>
        </div>

        <div class="mainHeader">
            <h2>How to Use</h2>
        </div>
        <div class="paragraph">
            
        </div>

        <div class="mainHeader">
            <h3>About-Us</h3>
            <p>
            Kami bertiga mahasiswa ITB jurusan Teknik Informatika ITB<br>
            Kami mengerjakan tugas besar Algeo membuat Search Engine sederhana melalui website lokal
            </p>
        </div>

        <h4 style="text-align: center;">My Failed Search Engine Is Wrong As I Expected</h4>

        <div class="column">
            <div class="card">
                <h5>Benidictus Galih Mahar Putra</h5>
                <p>Asal : Probolinggo</p>
                <p>Hobi : Desain rumah</p>
                <p>Pesan : Terima kasih semua ! :D</p>
            </div>
        </div>

    </body>
    <footer class="closing-Statement">
        <h6>Tugas Besar Aljabar Linier dan Aljabar Geometri Selesai !</h6>
    </footer>
</html>