<!DOCTYPE html>
<html>
    <head>
        <title>My Failed Search Engine Is Wrong As I Expected</title>
    </head>
    <body>
        <h1 style="text-align: center;">My Simple Search Engine</h1>
        <tr>
            <td> Daftar dokumen : </td>
            {% for i in namaFile %}
            <td> {{i}} </td>
            {% endfor %}
        </tr>
        <form>
            <input type="text" class="input" placeholder="Search query" name="Query">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <hr>
        <p>Hasil Pencarian (diurutkan dari tingkat kemiripan tertinggi)</p>
        <ol>
            <li> 
                <a href="/files/judul01.txt">judul01</a>
                <p>Jumlah kata</p>
                <p>Tingkat kemiripan</p>
                <p>kalimat pertama dari Dokumen</p>
            </li>
        </ol>
        <table>
            <th>
                <td> Term </td>
                <td> Query </td>
                {% for i in namaFile %}
                     <td> {{i}} </td>
                {% endfor %}
            </th>
            <p>{{printTable}}</p>
            {% for i in printTable %}
            <tr>
                {% for x in i %}
                <td> {{x}} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <hr>
    </body>
    <footer>
        <a href="/files/Perihal.txt">Perihal</a>
    </footer>
</html>