<!DOCTYPE html>
<html>
    <head>
        <title>My Failed Search Engine Is Wrong As I Expected</title>
    </head>
    <body>
        <h1 style="text-align: center;">My Simple Search Engine</h1>
        <p>Daftar Dokumen</p>
        <div class="wrapper">
            <input type="text" class="input" name="Query" placeholder="Search query">
        </div>
        <hr>
        <p>Hasil Pencarian (diurutkan dari tingkat kemiripan tertinggi)</p>
        <ol>
            <li> 
                <a href="/files/judul01.txt">judul01</a>
                <p>Jumlah kata</p>
                <p>Tingkat kemiripan</p>
                <p>kalimat pertama dari Dokumen</p>
            </li>
        </ol>
        <hr>
    </body>
    <footer>
        <a href="/files/Perihal.txt">Perihal</a>
    </footer>
</html>